html {

    background-color: aqua;}
    h1 { color: blueviolet;}
    img {width: 400px;}
    #thirdDiv{

        height: 600px;
        width: 400px;
        background-color: navy;
        padding: 58px;
        border: 5px dashed red;
    }
    #spanId {
        font-size: 18px;
        margin: 58px;
    }